.title {
  font-family: 'Carter One';
}
.container {
  margin-top: 50px;
  text-align: center;
}
.header a h2 {
  font-size: 1.3rem;
  color: #fff;
  opacity: 0.7;
  transition: 200ms;
}
.header a h2:hover {
  opacity: 1;
}
.header h6 {
  color: #fff;
  opacity: 0.78;
}

/* Optional style for fetched images */
.images {
  display: flex;
  max-width: 80%;
  margin: 2% auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

.single-photo {
  max-width: 300px;
  align-self: auto;
  margin: 1% 2px;
  flex-grow: 1;
  vertical-align: middle;
  cursor: pointer;
  transition: 300ms;
}

.single-photo:hover {
  transform: scale(1.03);
}

.image-modal {
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  transition: 500ms;
  opacity: 0;
  z-index: 2;
}
.image-modal img {
  width: 80%;
  max-width: 1400px;
  /* height: 80vh; */
  max-height: 90vh;
  height: auto;
  object-fit: cover;
  object-position: 50% 30%;
  /* display: none; */
  transition: 500ms;
  /* opacity: 0; */
  z-index: 2;
  cursor: zoom-out;
}

.modal-active {
  opacity: 1;
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
